* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
#header {
    background-color: #EDEDED;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid rgb(191,191,191);
}

#header ul li{
    padding: 5px 0 0 5px;
    list-style-type: none;
    float: left;
    margin: 7px 0 0 10px;

    font-size: 13px;
}
.logo {
    width: 25px;
    float: left;
    margin-top: 7px;
}
.fas {
    margin-left: 5px;
}
a {
    text-decoration: none;
    color: black;
}
#center-option {
    margin: auto;
    width: 35%;

}
#center-option ul li {
    width: 70px;
    margin: 5px 0 0 0;
    padding: 5px;
    text-align: center;
    border: 1px solid #CCCCCC;

}
#right-menu {
    float: right;
    margin-right: 10px;
}
.login-register {
    background-color: #FEEB4F;
    padding: 5px;
    height: 20px;
    width: 150px;
    text-align: center;
}
.clear {
    clear: both;
}
#code-player {
    display: flex;
}
.box {
    width: 34%;
    clear: both;
    height: 600px;
    border-right: 1px solid #E6E6E6;
}
.box p {
    padding: 10px;
    color: rgb(62,170,247);
}
textarea {
    width: 455px;
    clear: both;
    padding: 10px;
    background-color: #E6E6E6;
    border: none;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    padding: 8px;
    border: 1px solid #888;
    width: 99%;
    height: 780px;
}
.output-panel {
    width: 95%;
    height: 770px;
    border: none;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#library {
    border: none;
    background-color: #EDEDED;
}
